@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./styles/index.css');
@import url('./styles/article.css');
@import url('./styles/theme.css');
@import url('./styles/fonts.css');
